html{
	size: 10px;
	font-size: 10px;
}
body{
	font-family: 'PT Sans', sans-serif;background-color: #F5F5F5;margin: auto 0; padding: 0;
	}
header{
	 background-color: #202846;font-weight: 700;width: 100%;margin-bottom: -2.5rem;
}
.logo{
	width: 12rem;padding-left: 3rem;padding-top: 0.3rem;
}
.earth{
	width: 3rem;
}
.nav{
	float: right;
	list-style: none;
}
.nav-item{
	float: left;margin: 0 1.5rem;width: 8.5rem;
}
.nav-item a{
	color: #FFFFFF;
	line-height: 1rem;
	text-decoration: none;
}
.underhead{
	margin: 0;background-color: #C6C6DC;height: 7rem;font-family: PT Sans;font-style: italic;font-size: 400;padding-left: 5rem;
}
p{
	font-family: 'PT Sans', sans-serif;
    font-size: 2.4rem;
    font-style: italic;
    color: #202846;
    padding-left: 2.5rem;
    padding-top: 2rem;
    font-weight: 400;
}
/*два селектори вище застосовані також для меню "особистий кабінет" та "контакти"*/
.conteiner{
	width: 85%;height: 3.5rem; background-color:#E8E8E8;
	margin: 2.5rem auto;display: flex;position: relative;
}
.conteiner-text{
	color: #00000061;font-family: 'PT Sans', sans-serif;font-size: 1.6rem; position: absolute;padding-left: 33rem;padding-top: .7rem;
}
.arrow{
	width: 20px;position: absolute;top: .5rem;right: .5rem;
}
.card{
    width: 85%;height: 200px;    
    background-color: #BDBDC6;
    margin: 2.5rem auto;
    display: flex;
    position: relative;
	  
}
.img{
	width: 320px;
	padding-left: 2.2rem;
    padding-top: 1rem;
	position: absolute;	
}
.title-card{
	font-family: PT Sans; font-style: italic; font-size: 22px;
	position: absolute;
    color: #353C57;
    padding-left: 42rem;
    padding-top: 1.7rem;
    width: 510px;
    text-align: left;
}
.text{
    height: 80px;
    width: 360px;
    background-color: #D7D7DD;
    position: absolute;
    margin-left: 42rem;
    margin-top: 60px;
    text-align: center;
	line-height: 17px;
    padding: 15px 15px 15px 15px;border-top:3px solid #FFFFFF;
}
.card:hover{
    background-color:  #AEAEE2;
}
.card:hover .star{
    background-color: yellow;
}
.card:hover .detail{
    background-color: #EF075B;
}
.detail{
    position: absolute;
    padding: 7px 20px;
    border-radius: 24px/24px;
    background-color: #202846;
    border: solid 0px;
    color: white;
    margin-left: 784px;
    margin-top: 162px;
}
.star{
	position: absolute;
	float: right;
	color: #FFFFFF;
	width: 2rem;
	margin: 3px 410px ;
}
.cabinet{
	width: 78%;
    height: 38rem;
    background-color: #BDBDC6;
    margin: 41px auto;
	display: block;
	position: relative;
}
.cabinet-foto{
	width: 40%;
    height: 100%;
}
.cabinet-foto img{
	margin-top: 7rem;
	margin-left: 24%;
	width: 50%;
}
.button-avatar{
	width: 18rem;
    height: 4rem;
    margin-left: 15%;
    margin-top: 2rem;
    border: none;
    border-radius: 25px;
    background-color: #69749B;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    color: white;
}
.button-setting{
	width: 18rem;
    height: 4rem;
    margin-left: 15%;
	margin-top: 2rem;
    border: none;
    border-radius: 25px;
    background-color: #484A54;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    color: white;
}
.info{
	position: absolute;
	display: block;
	top: 7rem;
	left: 40rem;       
    font-family: 'PT Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    font-style: italic;
    line-height: 3rem;
    color: #353C57;
}
.span{
	font-family: 'PT Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    font-style: italic;
}
.hr{
	width: 45rem;height: .3rem;background-color: #FFFFFF;
}
.button-exit{
	padding: 7px 20px;
    border-radius: 24px/24px;
    background-color: #202846;
    border: solid 0px;
    color: white;
  	margin: 0 45%;
}
.adress-block{
	display: block;width: 65%;margin: 41px auto;
}
.adress{
	display: flex;justify-content: space-between;
}
.data-firstrow{
	height: 17rem;
    width: 25rem;
    margin-right: 12.5rem;
    margin-top: 4rem;
}
.hr-adress{
	width: 100%;height: 2px;background-color: black;    
}
.span-adress{
	font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    margin-top: .2rem
}
#map{
	height: 17rem;
    width: 45rem;
    margin-right: 12.5rem;
    margin-top: 0;
	border-radius: 2.5rem;
}
.footer{
	width: 100%;background-color: #202846;height: 6rem;color: #EEECF1;
	font-family: PT Sans;font-style: italic;font-size: 2.4rem;padding-left: 9rem;padding-top: 1%;
}